.wrapper_content_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.title_name {
    z-index: 20;
}
.container_section {
    width: 100%;
}
.groupe_serch_wrapper {
    display: flex;
    width: fit-content;
    margin-bottom: 2rem;
}
.list_classes { 
    display: flex;
    background: #353535;
    border-radius: 25px;
    overflow:  hidden;
}
.el_list {
    width: 5rem;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem  3rem;
    border-right: 1px solid white;
    cursor: pointer;
}
.el_list:last-child {
    border-right: none;
}
.active {
    background-color: #7a7a7a;
    animation: 3s infinite alternate slidein;
    animation-name: toggle_active;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes toggle_active {
    from {
        background-color: #353535;
    }
    to {
        background-color: #7a7a7a;
    }
}